*
{
    margin: 0;
	padding: 0;
	text-decoration: none;
}
body,html
{
    height: 100%;
}

img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 100px;
}

@keyframes fadeIn{
  0% {
    opacity:0;
	height: 50%;
  }
  100% {
    opacity:1;
  }
}
::-webkit-scrollbar {
    display: none;
	
}

/*RESPOSIVE NAV BAR */
.navbar-container
{
    min-height: 3vw;
	width: 100%;
	background-color: #00938A;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
	font-family: 'Arvo', serif;
	font-size: 2vh;
} 

.navbar-container .ham
{
	display: none;
}
.navbar-container>li{
	 height: 6vh;
	 list-style-type: none;
	 width: 10px;
	 display: flex;
	 flex-grow: 1;
	 align-items: center;
 	 justify-content: center;
	 border-right: 2px solid #00FF41;
	 transition: background-color 500ms;
}
.navbar-container>li:hover{
	 height: 6vh;
	 list-style-type: none;
	 width: 10px;
	 background-color: #1E6072;
	 display: flex;
	 flex-grow: 1;
	 align-items: center;
 	 justify-content: center;
	 border-right: 2px solid #00FF41;
}

.navbar-container li a{
		color: #5EC277;
}
#sign_up-btn{
	border: none
}
#Signup{
	text-decoration: underline;
}

.navbar-container a{
	text-decoration: none;
}

@media only screen and (max-width: 1028px){
	
	.nav li:not(.icon)
	{
		display: none;
	}

	.navbar-container .icon
	{
		display: flex;
		margin: 0 10px 0 0;
		order: -1;
	}
	
	.navbar-container{
		font-size: 2vh;
		max-height: 5000px;
		width: 100%;
		flex-wrap: wrap;

	}
	.navbar-container>li{
		border: none;
		justify-content: flex-start;
		margin: 2px;
	}
	.navbar-container>	li:not(.main){
		font-size: 2vh;
		border: none;
		justify-content: flex-end;
	}
	
	.navbar-container>li:hover:not(.ham){
		border: none;
		background: none;
		justify-content: flex-start;
	
	}
	.navbar-container>li.ham:hover{
		border: none;
		background: none;
		justify-content: flex-end;
	}
	

}

@media only screen and (max-width: 1028px){
	
	.res
	{
		transition: background 1s ease-in;
	}
	.navbar-container
	{
		transition:background 1s ease-in;
	}

	.res li>a
	{
		color: #2F4858;
		transition: color 1s ease-in; 
	}
	.navbar-container.res
	{
		display: flex;
		background: #00FF26;
		flex-direction: row;
	}
	.navbar-container.res>li
	{
		display: flex;
		width: 100%;
		justify-content: center;

	}
	.navbar-container.res>li.icon
	{
		min-height: 6vw;
		width: 0.5vw;
		justify-content: flex-start;

	}
	.navbar-container.res>li.ham
	{
		
		
		width: 0.5vw;
		justify-content: flex-end;

	}
	.navbar-container.res>li:not(.icon)
	{
		width: 100%;
		justify-content: flex-end;
		/* margin: 5px 10px 0 0; */
	}
	.navbar-container.res>li:not(.icon):hover
	{
		width: 100%;
		justify-content: flex-end;
	}
	
	
}

.main-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 3vw);
    background: #9CB0A4;

}
.form-wrapper
{
    display: flex;
    height: 80%;
    width: 40%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:#00938A;

}
.text-wrapper
{
    display: flex;
    height: calc(100% - 60px);
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    color:#00FF41;
}
.btn-wrapper
{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-self: flex-start;
    /* background: red; */
    margin-bottom: 10px;
    
}

.sub-btn
{
   
    /* margin-bottom: 10px; */
    background: #1E6072;
    color: #5EC277;
    cursor: pointer;
    padding: 10px;
	font-family: 'Arvo', serif;
    border: #2F4858 solid 2px;
}